<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/trainer.css" type="text/css">
</head>
<body>
    <div class="container ">

    {{> trainerheader}}

    <!-- Content -->
    <div class="main_Content">
        <div class="bottomTraineeLayout">
             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>DoB</th>
                            <th>Education</th>
                            <th>Role</th>   
                            <th>Update</th>                         
                    </tr>
                </thead>
                <tbody>
                        
                            <tr>
                                <td>{{viewProfile.name}}</td>
                                <td>{{viewProfile.age}}</td>
                                <td>{{viewProfile.DoB}}</td>     
                                <td>{{viewProfile.education}}</td>
                                <td>{{viewProfile.role}}</td> 
                                <td>
                                    <button>
                                        <a href="../trainer/updateTrainerAccount?id={{viewProfile._id}}">                                      
                                        Update
                                        </a>
                                    </button>
                                </td>                    
                            </tr>
                    
                </tbody>
           </table>
        </div>
    </div>
    {{> footer}}

</div>
</body>
</html>