<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Trainee</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/staff.css" type="text/css">
</head>
<body>
</body>
    <div class="container ">
    {{> header}}

    <!-- Content -->
    <div class="main_Content">

        <div class="topTraineeLayout">
            <div class="tableAddTrainee">
                <h4 style="font-size: xx-large;">View all Trainees In Course</h4>
                <table>
                    <form  action="../staff/addAssign" method="post">
                        <tr>
                            <td>Course Name: </td>
                            <td>
                                <select name="txtNameCourseAssign">
                                    <option selected>Select a Course</option>
                                    {{#each getAllCourse}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td>                      
                        </tr>
                        <td></td>
                            <td><input type="submit" value="Insert" class="insertButton"></td>
                    </form>
                </table>
            </div>
        </div>

        <div class="bottomTraineeLayout">
            <form method="POST" action="../staff/searchAssign">
                <input class="traineeSearchBar" type="text" name="txtNameCourse" style="width: 350px;">
                <input type="submit" value="Search">          
            </form>

             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Trainee Name</th>
                            <th>Course</th>
                            <th>Duration</th>                  
                    </tr>
                </thead>
                    <tbody>
                        {{#each viewAllAssign}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{name1}}</td>
                                <td>{{dura}}</td>                        
                            </tr>
                        {{/each }}
            </tbody>
           </table>
        </div>
    </div>

    <!-- (End) Content -->

    {{> footer}}

</div>
</html>