<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Trainer</title>
    <link rel="stylesheet" href="css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="css/staff.css" type="text/css">
</head>
<body>
</body>
    <div class="container ">

    {{> staffheader}}

    <!-- Content -->
    <div class="main_Content">
        
        <div class="topTraineeLayout">
            <div class="tableAddTrainee">
                <h4 style="font-size: xx-large;">Assign Trainer to a Course</h4>
                <table>
                    <form  action="../staff/addAssign1" method="post">
                        <tr>
                            <td>Trainer Name : </td>
                            <td>
                                <select name="txtNameTrainerAssign">
                                    <option selected>Select a Trainer</option>
                                    {{#each getAllTrainee}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Course Name: </td>
                            <td>
                                <select name="txtNameCourseAssign">
                                    <option selected>Select a Course</option>
                                    {{#each getAllCourse}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td>                         
                        </tr>
                        <tr>
                            <td>Duration : </td>
                            <td><input type="text" name="txtDuration"> </td> 
                        </tr>
                        <td></td>
                            <td><input type="submit" value="Insert" class="insertButton"></td>
                        <tr>
                            <td>
                                <a href = "../staff/AssignTrainee">Move to Assign Trainee</a>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

        <div class="bottomTraineeLayout">
            <form method="POST" action="../staff/searchAssign1">
                <input class="traineeSearchBar" type="text" name="txtNameCourseAssign" style="width: 350px;">
                <input type="submit" value="Search">          
            </form>

             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Trainer Name</th>
                            <th>Course</th>
                            <th>Duration</th>
                            <th>Remove</th>                      
                    </tr>
                </thead>
                    <tbody>
                            {{#each viewAllAssign}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{name1}}</td>
                                <td>{{dura}}</td>
                                <td>
                                    <button>
                                        <a href="../staff/deleteAssign1?id={{_id}}" onclick="return confirm('Are You Sure to Delete ?')">
                                        <img src="https://icon-library.com/images/red-recycle-bin-icon/red-recycle-bin-icon-18.jpg"
                                            width="18" height="18">
                                                Delete
                                        </a>
                                    </button>
                                </td>                          
                            </tr>
                        {{/each }}
            </tbody>
           </table>
        </div>
    </div>

    <!-- (End) Content -->

    {{> footer}}

</div>
</html>