<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normal_layout.css">
    <link rel="stylesheet" href="/css/trainer.css">
</head>
<body>
        <div class="container ">

    {{> header}}

    <!-- Content -->
    <div class="main_Content">
        <div class="bottomTraineeLayout">
            <div style="text-align: center">
                <h2>View Trainee's Information</h2>
            </div>
             <table border="1" cellspacing ="0 " cellpadding="15">
                <thead>
                    <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>DoB</th>
                            <th>Education</th>
                            <th>Role</th>     
                            <th>View</th>   
                                                
                    </tr>
                </thead>
                <tbody>
                        {{#each viewAllTraineeAccount}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{age}}</td>
                                <td>{{DoB}}</td>     
                                <td>{{education}}</td>
                                <td>{{role}}</td> 
                                <td>
                                    <button>
                                        <a href="viewCourseTrainee">                                      
                                        View Course
                                        </a>
                                    </button>
                                </td>                                                                                 
                            </tr>
                        {{/each }}
                </tbody>
           </table>
        </div>
    </div>
    {{> footer}}

</div>
</body>
</html>